<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Example</title>

	<meta name="description" content="Example">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{#each (option "styles")}}
		<link rel="stylesheet" type="text/css" href="{{this}}">
	{{/each}}
</head>
<body>
	{{#if (option "sprite")}}
		<div style="display: none">
			{{{include (option "sprite")}}}
		</div>
	{{/if}}

	<div data-iframe-height="true">
		{{{content}}}
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system.js"></script>
	<script type="text/javascript" src="/{{option "public"}}/main.js"></script>
	<script type="text/javascript" src="/assets/js/iframeResizer.contentWindow.min.js"></script>
</body>
</html>
