@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('../font/typicons.eot');
  src: url('../font/typicons.eot?#iefix') format('embedded-opentype'), url('../font/typicons.woff') format('woff'), url('../font/typicons.ttf') format('truetype'), url('../font/typicons.svg#typicons') format('svg');
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
* > *:last-child {
  margin-bottom: 0;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html {
  height: 100%;
  position: relative;
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  padding-top: 80px;
  background-color: #fff;
  color: #333;
  font-family: 'Poppins', Hevetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
main {
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
iframe,
label,
p,
pre,
address,
td,
th,
ul,
ol,
dl,
dd,
hr,
table {
  margin: 0;
  font-weight: inherit;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
blockquote + *,
iframe + *,
label + *,
p + *,
pre + *,
address + *,
td + *,
th + *,
ul + *,
ol + *,
dl + *,
dd + *,
hr + *,
table + * {
  margin-top: 1.5em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
iframe {
  width: 100%;
  border: none;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
pre {
  padding: 50px;
  border-radius: 4px;
  background-color: #222;
  color: #ddd;
  -moz-tab-size: 0;
    -o-tab-size: 0;
       tab-size: 0;
  white-space: pre;
}
code {
  font-family: 'Cutive Mono', Monaco, Consolas, monospace;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
.icon {
  display: inline-block;
}
a.icon {
  text-decoration: none;
  color: inherit;
}
.icon:before {
  font-family: 'typicons';
  font-size: 1em;
  font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
}
.icon.icon--phone:before {
  content: '\e05b';
}
.icon.icon--tablet:before {
  content: '\e05c';
}
.icon.icon--laptop:before {
  content: '\e05a';
}
.icon.icon--popup:before {
  content: '\e10e';
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  padding: 30px 60px;
  background-color: #191919;
  color: #fff;
  z-index: 99;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.header-content > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: middle;
}
.header-content > *:first-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 340px;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
}
.header-content > *:last-child {
  text-align: right;
}
.brand {
  display: inline-block;
  width: 200px;
  height: 20px;
  vertical-align: middle;
}
.brand img {
  width: auto;
  height: 100%;
}
.menu > * {
  color: #999;
}
.menu > * + * {
  margin-left: 15px;
}
.nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 60px;
  background-color: #fff;
  z-index: 99;
  display: none;
}
.nav ul {
  list-style: none;
  padding: 0;
}
.nav a {
  color: inherit;
  text-decoration: none;
}
.nav > ul > li > a {
  display: block;
  padding: 0 0 8px;
  margin: 0 0 16px;
  border-bottom: 2px solid #f2f2f2;
  color: #000;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}
.nav > ul > li > a a {
  color: inherit;
  text-decoration: none;
}
.nav > ul > li > a span {
  display: block;
  color: #ddd;
  font-size: 24px;
  font-weight: 200;
}
.nav > ul > * + * {
  margin-top: 30px;
}
.breadcrumbs {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs a {
  color: #999;
}
.breadcrumbs > * + * {
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
}
.breadcrumbs > * + *:after {
  position: absolute;
  top: -5px;
  left: 0;
  height: 32px;
  width: 1px;
  background-color: #555;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  content: '';
}
.prettyprint {
  color: #666;
}
.pln {
  color: #cccccc;
}
.str {
  color: #99cc99;
}
.kwd {
  color: #cc99cc;
}
.com {
  color: #999999;
}
.typ {
  color: #6699cc;
}
.lit {
  color: #f99157;
}
.pun {
  color: #cccccc;
}
.opn {
  color: #cccccc;
}
.clo {
  color: #cccccc;
}
.tag {
  color: #f2777a;
}
.atn {
  color: #f99157;
}
.atv {
  color: #66cccc;
}
.dec {
  color: #f99157;
}
.var {
  color: #f2777a;
}
.fun {
  color: #6699cc;
}
.section {
  position: relative;
  display: table;
  width: 100%;
  background-color: #f8f8f8;
  table-layout: fixed;
}
.section > * {
  display: table-cell;
  vertical-align: top;
}
.section.section--hero {
  height: 100%;
}
.section.section--hero > * {
  vertical-align: middle;
}
.section.section--intro {
  background-color: #222;
  color: #fff;
}
.section.section--markup {
  background-color: #222;
}
.section-content {
  position: relative;
  padding: 100px;
}
.section--hero .section-content {
  width: 100%;
  padding-left: 400px;
  text-align: center;
}
.section--sub .section-content {
  padding-top: 0;
}
.section--markup .section-content {
  padding: 50px;
}
.section-aside {
  position: relative;
  padding: 60px 0 100px 60px;
  width: 300px;
  background-color: #fff;
}
.section-aside ul {
  list-style: none;
  padding: 0;
}
.section--hero .section-aside {
  display: block;
  position: fixed;
  top: 80px;
  bottom: 0;
  overflow-y: auto;
  z-index: 99;
}
.section--intro .section-aside {
  background-color: #282828;
}
.section--sub .section-aside {
  padding-top: 0;
}
.section--markup .section-aside {
  background-color: #282828;
}
.section-title {
  position: relative;
  display: block;
  padding: 0 0 10px;
  border-bottom: 2px solid #f2f2f2;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.section-title + * {
  margin-top: 20px;
}
.section-title span {
  display: block;
  color: #ddd;
  font-size: 30px;
  font-weight: 200;
}
.section--intro .section-title {
  border-bottom-color: transparent;
  color: #fff;
  font-size: 36px;
  font-weight: 200;
}
.section--intro .section-title span {
  color: rgba(255, 255, 255, 0.5);
  font-size: inherit;
}
.section--markup .section-title {
  border-color: #333;
  color: #666;
  font-weight: 200;
}
.section-title.section-title--hero {
  border-bottom-color: transparent;
  font-size: 40px;
  font-weight: 200;
}
.section-title.section-title--sub {
  margin-left: 40px;
  font-size: inherit;
}
.section-title.section-title--sub span {
  color: #999;
  font-size: inherit;
  font-weight: inherit;
}
.section-description {
  padding-right: 30px;
}
.section--hero .section-description {
  margin: 0 auto;
  max-width: 700px;
  font-size: 20px;
}
.section--intro .section-description {
  font-size: 20px;
}
.section--sub .section-description {
  padding-left: 40px;
}
.section-parameters {
  display: table;
  padding: 0;
  font-size: 12px;
  font-family: 'Cutive Mono', Monaco, Consolas, monospace;
  font-weight: 700;
}
.section-parameters > * {
  display: table-row;
}
.section-parameters > * > * {
  display: table-cell;
  padding: 2px 0;
}
.section-parameters > * > *:first-child {
  color: #999;
}
.section-content .section-parameters > * > *:first-child {
  width: 150px;
}
.section-colors {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}
.section-colors > * {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
}
.section-colors > * > * {
  display: block;
}
.section-colors > * > *:first-child {
  width: 100%;
  height: 80px;
}
.section-colors > * > * + * {
  margin-top: 5px;
}
.section-colors > * + * {
  margin-left: 10px;
}
.section-colors span {
  color: #999;
  text-transform: none;
}
.section-icons {
  right: 10px;
  margin: -10px 0 10px;
  color: #ddd;
  font-size: 18px;
}
.section-icons > * {
  cursor: pointer;
}
.section-icons > * + * {
  margin-left: 5px;
}
.section-icons > *:last-child {
  float: right;
}
.section-icons > *.is-active {
  color: #999;
}
.section-icons > *:hover {
  color: #333;
}
.article {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
.article + .article {
  margin-left: -4px;
}
.article-title {
  display: block;
  padding: 0 0 15px;
  margin: 0 0 30px;
  border-bottom: 2px solid #f2f2f2;
  color: #000;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 400;
}
.article-title a {
  color: inherit;
  text-decoration: none;
}
.article-title span {
  display: block;
  color: #ddd;
  font-size: 45px;
  font-weight: 200;
}
.example-header {
  padding-top: 10px;
  border-top: 1px solid #eee;
  line-height: 1.8;
}
.example-title {
  font-weight: 600;
}
