<div class="section-icons">
	<div title="Responsive mobile" class="icon icon--phone" data-toggle-width="320px" data-toggle-href="{{this.url}}"></div>
	<div title="Responsive mobile" class="icon icon--tablet" data-toggle-width="640px" data-toggle-href="{{this.url}}"></div>
	<div title="Responsive desktop" class="icon icon--laptop is-active" data-toggle-width="100%" data-toggle-href="{{this.url}}"></div>
	<a title="Open in new window" class="icon icon--popup" href="{{this.url}}" target="_blank"></a>
</div>
