<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Example</title>

	<meta name="description" content="Example">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{#each (option "styles")}}
		<link rel="stylesheet" type="text/css" href="{{this}}">
	{{/each}}
</head>
<body>
	<script type="text/javascript">
		if (window.location.hash === '#iframe') {
			var css   = 'html, body { height: auto; padding: 0; margin: 0; {{background}} }';
			var head  = document.head || document.getElementsByTagName('head')[0];
			var style = document.createElement('style');

			style.type = 'text/css';

			if (style.styleSheet) {
				style.styleSheet.cssText = css;
			} else {
				style.appendChild(document.createTextNode(css));
			}

			head.appendChild(style);
		}
	</script>

	{{{content}}}

	{{#each (option "scripts")}}
		<script type="text/javascript" src="{{this}}"></script>
	{{/each}}

	<script type="text/javascript" src="/assets/js/iframeResizer.contentWindow.min.js"></script>
</body>
</html>
