<div class="section section--3 section--markup">
	<div class="section-aside">
		<h4 class="section-title section-title--sub">Markup</h4>
	</div>

	<div class="section-content">
		<pre class="prettyprint lang-html"><code data-language="html">{{markup}}</code></pre>
	</div>
</div>
