<section id="{{referenceURI}}" class="section section--intro">
	<div class="section-aside">
	</div>

	<div class="section-content">
		<h1 class="section-title">
			<span>{{numeric}}</span>
			{{title}}
		</h1>

		{{#if description}}
			<div class="section-description">
				{{{description}}}
			</div>
		{{/if}}
	</div>
</section>
